body {
	padding: 40px;
	background: cyan;
}

.centered {
  margin: 0 auto;
  display: block;
  text-align: center;
}

table {
  border-spacing: 0px;
}

img {
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.crop {
  width: 33px;
  height: 56px;
  overflow: hidden;
  margin: auto;
  position: relative;
  float: left;
}